{% extends 'home.html' %}

{% block content %}
<div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h2 class="text-2xl font-semibold text-center mb-6">Formani tahrirlash</h2>
    <form method="post" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
        
        <div class="space-y-2">
            <label for="id_mijoz" class="block font-medium text-gray-700">Mijoz</label>
            {{ form.mijoz }}
        </div>
        
        <div class="space-y-2">
            <label for="id_qurilma" class="block font-medium text-gray-700">Uskuna</label>
            {{ form.qurilma }}
        </div>
        
        <div class="space-y-2">
            <label for="id_berilgan_sanasi" class="block font-medium text-gray-700">Berilgan Sana</label>
            {{ form.berilgan_sanasi }}
        </div>
        
        <div class="space-y-2">
            <label for="id_qaytish_sanasi" class="block font-medium text-gray-700">Qaytish Sana</label>
            {{ form.qaytish_sanasi }}
        </div>
        
        <div class="space-y-2">
            <label for="id_kunlar_soni" class="block font-medium text-gray-700">Kunlar soni</label>
            {{ form.kunlar_soni }}
        </div>
        
        <div class="space-y-2">
            <label for="id_kunlik_narxi" class="block font-medium text-gray-700">Kunlik Narx</label>
            {{ form.kunlik_narxi }}
        </div>
        
        <div class="space-y-2">
            <label for="id_umumiy_narx" class="block font-medium text-gray-700">Umumiy Narx</label>
            {{ form.umumiy_narx }}
        </div>

        <div class="space-y-2">
            <label for="id_miqdori" class="block font-medium text-gray-700">Miqdori</label>
            {{ form.miqdori }}
        </div>
        
        <div class="space-y-2">
            <label for="id_avans" class="block font-medium text-gray-700">Avans</label>
            {{ form.avans }}
        </div>
        
        <button type="submit" class="w-full bg-blue-600 text-white py-3 rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Saqlash</button>
    </form>
</div>
{% endblock %}
